<style>
#c_right{width:280px;}
#c_right .s_about{width:265px;border:1px solid #000000;background:#FFF;}
#c_right .s_about h2{width:230px;margin:0 auto;font-size:16px;color:#000000;padding:10px 0px 3px 10px;border-bottom:1px solid #000000;}
#c_right .s_about a{color: #000000}
#c_right .s_about img{margin:0 auto;margin-top:10px;}
#c_right .s_about p{padding-left:25px;color:#000000}
#c_right .s_about p .b_1{display:block;width:93px;height:30px; background:url("/blog/static/img/carousel/qq_bg.png") no-repeat;}
#c_right .s_about p .b_2{margin-left:20px;display:block;width:97px;height:25px; background:url("/blog/static/img/carousel/qq_bg.png") -93px 0 no-repeat;}
</style>

<div id="c_right">
    <div class="s_about">
          <h2>关于博主</h2>
           <img src="static/img/carousel/my.jpg" width=100% height=100% alt="博主"/>
           <p>博主：做一个雷锋</p>
           <p>职业：python web </p>
           <p>愿我所念之人岁岁平安</p>
            <p>--即使生生不见！</p>

           <p>

           <a href="#" title="联系博主"  ><span class="b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="b_2"></span></a>

           <div class="clear"></div>
           </p>
          </div>
</div>
