<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="top">
				<div id="topBar">
					<div class="userPanel">
						<ul>
							<li>
								<a rel="nofollow" href="#">手机版</a>
							</li>
							<li>
								<a rel="nofollow" href="#">设为首页</a>
							</li>
							<li>
								<a rel="nofollow" href="#">加入收藏</a>
							</li>
							<li>
								<a rel="nofollow" href="#">联系我们</a>
							</li>
						</ul>
					</div>
					<div class="welcome">
						welcome to eric_blog
					</div>
				</div>

			</div>

		</div>
	</div>
</div>